

div div{

}

.azul{
	background-color: blue;
	height:200px; 
	width:200px;
	position: absolute;
}

.verde{
	background-color: green;
	height:100px; 
	width:100px;
	position: static;
	 margin-left: 50px;
	 margin-top: 50px;

}

.negro{
	background-color: black;
	height:50px; 
	width:50px;
	bottom: 150px;
	position: absolute;
}